del# Ignore Next.js build and cache files
.next/

# Ignore other system-specific files
.DS_Store
node_modules/
*.log

# Ignore large database files
lib/MASTER.txt
lib/db/static.db
lib/db/tracking.db

# Ignore large binary files
node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
node_modules

# .gitignore
data/active_status.db
node_modules
