/* styles/leaflet.css */
.leaflet-container {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}

.leaflet-control-container .leaflet-control {
  margin: 1rem;
}

.leaflet-control-zoom {
  border: none !important;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1) !important;
}